@using System.Globalization

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Первый день недели
    </button>
    @{
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (DayOfWeek day in DayOfWeekValues)
            {
                <button class="dropdown-item" type="button"
                        @onclick="() => ChangeFirstDayOfWeek(day)">
                    @GetDayName(day)
                </button>
            }
        </div>
    }
</div>

<!-- Calendar -->
<div class="calendar p-1">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-outline-primary text-uppercase"
                @onclick="RemoveMonth">
            Предыдущий месяц
        </button>
        <h2 class="month font-weight-bold mb-0 text-uppercase">@Month @Year</h2>
        <button class="btn btn-outline-primary text-uppercase"
                @onclick="AppendMonth">
            Следующий месяц
        </button>
    </div>
    <p class="font-italic text-muted mb-5">No events for this day.</p>

    @if (IsLoaded)
    {
        <ol class="day-names list-unstyled">
            @foreach (string day in DayOfWeekNamesWithFirstDay)
            {
                <li class="font-weight-bold text-uppercase">@day</li>
            }
        </ol>
        <ol class="days list-unstyled">
            @{
                foreach (int dayNum in PreviousMonthDaysEnumerable)
                {
                    <li class="outside">
                        <div class="date">@dayNum</div>
                    </li>
                }
                foreach (int dayNum in MonthDaysEnumerable)
                {
                    <li>
                        <div class="date">@dayNum</div>
                        <div class="event bg-success">Event with Long Name</div>
                    </li>
                }
                foreach (int dayNum in NextMonthDaysEnumerable)
                {
                    <li class="outside">
                        <div class="date">@dayNum</div>
                    </li>
                }
            }
        </ol>
    }
    else
    {
        <p>Loading...</p>
    }
</div>