<div class="d-flex flex-row align-items-baseline ">
    <div id="@CalendarNameId" class="h3-size editable-text form-control" contenteditable="@(isNameEditing)">@calendarForEdit.Name</div>
    <div class="cursor-pointer mx-2 oi oi-pencil oi-" @onclick="ChangeCalendarName"></div>
</div>

<div class="d-flex flex-row align-items-baseline ">
    <div id="@CalendarDescriptionId" class="h4-size editable-text form-control" contenteditable="@(isDescriptionEditing)">@calendarForEdit.Description</div>
    <div class="cursor-pointer mx-2 oi oi-pencil" @onclick="ChangeCalendarDescription"></div>
</div>


<div class="w-100 d-flex justify-content-center mt-4">
    <div class="w-75">
        <div class="row mb-4">
            <div class="col col-sm-3">
                <input type="text" @bind="filter" class="form-control">
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-primary w-100" @onclick="GetUsersByFilter">Поиск</button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-warning w-100 @ChangedState" @onclick="SaveChanges">Сохранить изменения</button>
            </div>
            <div class="col col-sm-3">
                @{ string link = Path.Combine("events", CalendarId.ToString()); }
                <NavLink href="@link" class="btn btn-success w-100 text-decoration-none">Перейти к календарю</NavLink>
            </div>
        </div>
        @foreach (UserInfoWithRoleViewModel user in possibleParticipants)
        {
            <div class="row mb-1">
                <div class="col col-sm-4">
                    <h5 class="h-100 d-flex align-items-center">@user.Name</h5>
                </div>
                <div class="col col-sm-3">
                    <h5 class="h-100 d-flex align-items-center">@user.Email</h5>
                </div>
                <div class="col col-sm-2">
                </div>
                <div class="col col-sm-3">
                    <div class="h-100 d-flex align-items-center">
                        <DropdownComponent Items="roles" SelectedItem="user.Role"
                                           ItemToStringFunc="CalendarParticipantRoleExtensions.GetDescription"
                                           ItemSelectedFunc="role => { user.Role = role; Changed = true; }"/>
                    </div>
                </div>
            </div>
        }
        @foreach (CalendarParticipantViewModel user in participants.Values)
        {
            <div class="row mb-1">
                <div class="col col-sm-4">
                    <h5 class="h-100 d-flex align-items-center">@user.Name</h5>
                </div>
                <div class="col col-sm-3">
                    <h5 class="h-100 d-flex align-items-center">@user.Email</h5>
                </div>
                <div class="col col-sm-2">
                    <h5 class="h-100 d-flex align-items-center">@user.CalendarJoinDate</h5>
                </div>
                <div class="col col-sm-3">
                    <div class="h-100 d-flex align-items-center">
                        <DropdownComponent Disabled="user.Role == CalendarParticipantRole.Creator" Items="roles"
                                           ItemToStringFunc="CalendarParticipantRoleExtensions.GetDescription"
                                           SelectedItem="user.Role" ItemSelectedFunc="role => { user.Role = role; Changed = true; }"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>