<EditableTextComponent Value="@(calendarForEdit.Name!)" TextSize="3" OnValueEdited="ChangeCalendarName"/>
<EditableTextComponent Value="@(calendarForEdit.Description!)" TextSize="3" OnValueEdited="ChangeCalendarDescription"/>

<div class="w-100 d-flex justify-content-center mt-4">
    <div class="w-75">
        <div class="row mb-4">
            <div class="col col-sm-5">
                <input type="text" @bind="filter" class="form-control">
            </div>
            <div class="col col-sm-1">
                <button type="button" class="btn btn-outline-primary w-100" @onclick="GetUsersByFilter">
                    <span class="oi oi-magnifying-glass"></span>
                </button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-warning w-100 @ChangedState" @onclick="SaveChanges">Сохранить изменения</button>
            </div>
            <div class="col col-sm-3">
                <NavLink href="@(Path.Combine("events", CalendarId.ToString()))" class="btn btn-success w-100 text-decoration-none">Перейти к событиям</NavLink>
            </div>
        </div>
        @foreach (UserInfoWithParticipantRoleViewModel user in possibleParticipants)
        {
            <div class="row mb-1">
                <div class="col col-sm-4">
                    <h5 class="h-100 d-flex align-items-center">@user.Name</h5>
                </div>
                <div class="col col-sm-3">
                    <h5 class="h-100 d-flex align-items-center">@user.Email</h5>
                </div>
                <div class="col col-sm-2">
                </div>
                <div class="col col-sm-3">
                    <div class="h-100 d-flex align-items-center">
                        <DropdownComponent Items="roles" SelectedItem="user.Role"
                                           ItemToStringFunc="CalendarParticipantRoleExtensions.GetDescription"
                                           ItemSelectedFunc="role => { user.Role = role; Changed = true; }"/>
                    </div>
                </div>
            </div>
        }
        @foreach (CalendarParticipantViewModel user in participants.Values)
        {
            <div class="row mb-1">
                <div class="col col-sm-4">
                    <h5 class="h-100 d-flex align-items-center">@user.Name</h5>
                </div>
                <div class="col col-sm-3">
                    <h5 class="h-100 d-flex align-items-center">@user.Email</h5>
                </div>
                <div class="col col-sm-2">
                    <h5 class="h-100 d-flex align-items-center">@user.CalendarJoinDate</h5>
                </div>
                <div class="col col-sm-3">
                    <div class="h-100 d-flex align-items-center">
                        <DropdownComponent Disabled="user.Role == CalendarParticipantRole.Creator" Items="roles"
                                           ItemToStringFunc="CalendarParticipantRoleExtensions.GetDescription"
                                           SelectedItem="user.Role" ItemSelectedFunc="role => { user.Role = role; Changed = true; }"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>