<h4>@LocalizedResources.UserInfoComponent_AboutMe</h4>

<EditForm Model="userInfoViewModel" OnValidSubmit="EditInfoAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">@LocalizedResources.UserInfoComponent_Name</label>
        <div class="col-sm-8">
            <InputText @bind-Value="userInfoViewModel.Name" class="form-control"/>
        </div>
    </div>
    
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Должность</label>
            <div class="col-sm-8">
                <InputText @bind-Value="userInfoViewModel.Name" class="form-control"/>
            </div>
        </div>

    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">@LocalizedResources.UserInfoComponent_Email</label>
        <div class="col-sm-8">
            <InputText type="email" @bind-Value="userInfoViewModel.Email" class="form-control"/>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">@LocalizedResources.UserInfoComponent_RegisterDate</label>
        <div class="col-sm-8">
            <InputText @bind-Value="userInfoViewModel.RegisterDate" class="form-control" readonly/>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-end mb-3 col">
            <button class="w-50 btn btn-primary" type="submit">@LocalizedResources.UserInfoComponent_SubmitUpdateInfo</button>
        </div>
    </div>
</EditForm>